
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: rgb(120, 0, 0);
    border: 3px solid black;
    border-radius: 3rem;
    box-shadow: inset 0 0 20px 3px black;
}

.display,
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.display {
    justify-content: center;
    font-size: 4rem;
    border: 3px double black;
    border-radius: 1rem;;
    width: 70%;
    background-color: lightgrey;
}

.buttons {
    justify-content: space-around;
    width: 100%;
}

#btn_minus,
#btn_plus,
#btn_reset {
    background-color: rgb(120, 0, 0);
    border: none;
    outline: none;
    box-shadow: 
        -3px -3px 8px rgb(185, 70 ,70),
        3px 3px 8px rgb(45, 35, 35);
    font-weight: bold;
}

#btn_minus:hover,
#btn_plus:hover,
#btn_reset:hover {
    cursor: pointer;
}

#btn_minus:active,
#btn_plus:active,
#btn_reset:active {
    box-shadow:
        -3px -3px 8px rgb(185, 70 ,70),
        3px 3px 8px rgb(45, 35 ,35) inset,
        3px 3px 8px rgb(45, 35, 35),
        -3px -3px 8px rgb(185, 70, 70) inset;
}

#btn_minus,
#btn_plus {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    font-size: 2rem;;
}

#btn_reset {
    width: 130px;
    height: 60px;
    margin: 2rem 0;
    border-radius: 20px;
    font-size: 1rem;
}